@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.fg-editor div,
.fg-editor p,
.fg-editor button {
  font-family: Pretendard, sans-serif;
}

.fg-editor div,
.fg-editor p,
.fg-editor span,
.fg-editor button,
.fg-editor ul,
.fg-editor li,
.fg-editor input,
.fg-editor textarea,
.fg-editor table,
.fg-editor tr,
.fg-editor td {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #3f3f46;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.fg-editor textarea:focus {
  outline: none;
  box-shadow: none;
}

.fg-editor button {
  cursor: pointer;
}